* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  min-height: 3000px;
  scroll-behavior: smooth;
}
/* navbar starts */
.navbar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: transparent;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .navbar-logo {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: #ffd700;
}

.navbar .navbar-nav a {
  color: white;
  font-size: 1rem;
  margin: 0 1rem;
  display: inline-block;
}

.navbar .navbar-nav a:hover {
  color: #ffd700;
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #ffd700;
}
/* navbar end */
#hamburger-menu {
  display: none;
}

/* section starts */
/* section pertama starts */
.hero {
  min-height: 65vh;
  display: flex;
  align-items: center;
  background-image: url("../images/landscape.jpg");
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
}
/* section pertama end */

/* section card  starts */

.hero .content {
  padding: 1.4rem 7%;
  color: #fff;
}

.hero .content .kontak {
  color: white;
  text-align: left;
  font-size: 2.5em;
}
.hero .content p {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

.kontak-kami .judul-total {
  margin: 2.5rem;
  text-align: center;
}

.kontak-kami .judul-total .garis-judul {
  color: #ffd700;
  font-size: 3rem;
}

.kontak-kami .judul-total .judul {
  font-size: 2.5rem;
  font-weight: 700;
}

.kontak-kami .card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1rem;
  padding: 0 1.5rem;
}

.kontak-kami .card .box {
  padding: 1.4rem;
  background: rgb(245, 222, 179);
  border-radius: 0.5rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

.kontak-kami .card .box p {
  margin-top: 1rem;
}
.kontak-kami .card .box h3 {
  font-size: 1.5rem;
}

.kontak-kami .card .box:hover {
  box-shadow: rgba(22, 57, 85, 0.2) 0px 35px 25px -25px;
  transform: translateY(-5%);
  border: 0.5rem solid rgb(255, 215, 0);
  transition: 0.4s;
}
.kontak-kami .card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1rem;
  padding: 0 1.5rem;
}

.kontak-kami .card .box {
  padding: 1.4rem;
  background: rgb(245, 222, 179);
  border-radius: 0.5rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

.kontak-kami .card .box:hover {
  box-shadow: rgba(22, 57, 85, 0.2) 0px 35px 25px -25px;
  transform: translateY(-5%);
  border: 0.5rem solid rgb(255, 215, 0);
  transition: 0.4s;
}

.kontak-kami .card .box .link {
  color: grey;
}
/* section card end */

/* lokasi starts  */

.lokasi {
  background-color: rgba(245, 222, 179, 0.4);
  background-position: cover;
  align-items: center;
}

.lokasi .judul-lokasi {
  text-align: center;
  margin: 11rem 2rem 0 0;
}

.lokasi .judul-lokasi .garis-lokasi {
  color: #ffd700;
  font-size: 3rem;
}

.lokasi .judul-lokasi .judul {
  font-size: 2.5rem;
  font-weight: 700;
}
.lokasi .box-lokasi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 8rem;
}

.lokasi .map {
  display: flex;
  flex: 1 1 5rem;
  align-items: center;
  width: 100%;
  height: 40vh;
  margin-top: 1.5rem;
  border: 0.5rem solid rgba(245, 222, 179, 0.9);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.lokasi .box-lokasi p {
  display: flex;
  flex: 1 1 10rem;
  text-align: center;
  padding: 0 3rem;
}

.lokasi .map:hover {
  border: 0.5rem solid rgb(255, 215, 0);
}

/* lokasi end  */
/* section end */

/* media queries */
/* laptop */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 16.2vh;
  }

  .navbar .navbar-nav.active {
    left: 0;
    transition: 0.4s;
    display: block;
    margin-top: 7em;
  }

  .navbar .navbar-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 1.2rem 0;
  }

  .hero-2 {
    flex-wrap: wrap;
  }

  .hero-2 .row .row-image {
    margin-bottom: 1.5rem;
  }
}

/* handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
