* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}
/* navbar starts */
.navbar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: transparent;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .navbar-logo {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: #ffd700;
}

.navbar .navbar-nav a {
  color: white;
  font-size: 1rem;
  margin: 0 1rem;
  display: inline-block;
}

.navbar .navbar-nav a:hover {
  color: #ffd700;
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #ffd700;
}
/* navbar end */
#hamburger-menu {
  display: none;
}

/* hero section starts */
.hero {
  min-height: 65vh;
  display: flex;
  align-items: center;
  background-image: url("../images/landscape.jpg");
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
}

.hero .content {
  padding: 1.4rem 7%;
}

.hero .content .post-credit {
  color: #fff;
  font-weight: 100;
}

.hero .content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #fff;
  text-align: left;
}

.hero .content p {
  color: #fff;
}

/* section starts */
.about {
  padding: 1.4rem 7%;
}

.about:nth-child(even) {
  background: #fff;
}

.about .about-slider .slide {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-top: 9rem;
}

.about .about-slider .slide .content {
  flex: 1 1 45rem;
}

.about .about-slider .slide .content p {
  line-height: 2rem;
  margin-top: 1.3rem;
  font-weight: 300;
}

.about .about-slider .slide .image {
  flex: 1 1 45rem;
}

.about .about-slider .slide .image img {
  width: 100%;
  height: 100%;
}

.about .about-slider .slide .content span {
  color: #ffd700;
  font-size: 1.7rem;
  font-weight: 700;
}

.about .about-slider .slide .content h3 {
  font-size: 2.2rem;
  font-weight: 700;
}

/* section ends */
/* footer starts */
.footer {
  background-color: rgba(0, 0, 0, 0.95);
  text-align: center;
  justify-content: center;
  margin-top: 10rem;
  line-height: 2rem;
}

.footer .quick-links a {
  color: white;
  margin: 0 0.7rem;
}

.footer .quick-links a:hover {
  color: #ffd700;
}

.footer .credit p {
  color: #fff;
}

.footer .credit a {
  color: #ffd700;
}

.footer .credit .copy {
  color: #ffd700;
}

/* footer ends */

/* hero section end */
/* media queries */
/* laptop */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 16.2vh;
  }

  .navbar .navbar-nav.active {
    left: 0;
    transition: 0.4s;
    display: block;
    margin-top: 7em;
  }

  .navbar .navbar-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 1.2rem 0;
  }

  .about .about-slider .slide {
    flex-wrap: wrap;
  }
}

/* handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
